section.gallery {
  grid-area: gallery;
  display: flex;
  width: 100vw;
  img {
    width: 25%;
    height: auto;
  }
}
section.transform {
  h1 {
    font-family: "Fraunces";
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: transform;
  .section__text {
    padding: 150px;
  }
  .section__img {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
section.stand-out {
  h1 {
    font-family: "Fraunces";
  }
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: stand;
  .section__text {
    padding: 150px;
  }
}
.section__img {
  img {
    width: 100%;
    height: 100%;
  }
}
.graphic-design {
  grid-area: graphic;
  background-image: url("./images/desktop/desktop-cherry-fruit-hd-wallpaper-download.jpg");
  background-position: center;
  width: auto;
  text-align: center;
  padding-inline: 170px;
  justify-content: center;
  display: grid;
  align-items: end;
  .section__text {
    margin-bottom: 30px;
    p,
    h1 {
      color: #fff;
    }
  }
}
.photography {
  grid-area: photo;
  background-image: url("./images/desktop/image-photography.jpg");
  background-position: center;
  text-align: center;
  width: auto;
  padding-inline: 170px;
  justify-content: center;
  display: grid;
  align-items: end;
  .section__text {
    margin-bottom: 30px;
  }
}
