section.testimonials {
  display: flex;
  flex-direction: column;
  font-size: $body-size;
  align-items: center;
  grid-area: client;
  width: 100vw;
  height: 100;
  font-family: "Barlow";
  color: $dark-grayish-blue;

  h1 {
    margin: 0 auto;
    margin-block: 75px;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    padding-inline: 50px;
    text-align: center;
  }

  .card__img {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .card {
    margin-inline: 50px;
    width: 25%;
  }
  .card__text {
    margin-bottom: 70px;
  }
  .client__name {
    font-family: "Fraunces";
    color: $dark-desaturated-blue;
    margin-bottom: 10px;
  }
}
